* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-color: white;
font-family: $fontFamily;
font-size: $fontSize;
color: $primaryColor;
}

h1 {
  font-weight: $weightBold;
  font-size: $fontSize * 3.5;
  line-height: 70px;
}

h2 {
  font-weight: $weightBold;
  font-size: $fontSize * 1.8;  
}
.sub-title {
  font-size: $fontSize * 1.7;
}
.btn {
  @include button;
  color: white;

  &:hover {
    background-color: #233569;
    color: white;
  }
}

.btn span {
  vertical-align: middle;
}
.btn img {
  width: 18px;
  margin-right: 5px;
}
a {
  text-decoration: none;
}

.text-span {
  padding: 0 15px;
  color: #ccc;
  font-size: $fontSize * 0.8;
}
