@mixin center-content-80 {
  width: 80%;
  margin: 0 auto;
};
@mixin center-content-60 {
  width: 60%;
  margin: 0 auto;
};
@mixin clearFix {
  display: table;
  content: "";
  clear: both;
};
@mixin flex {
  display: flex;
  align-items: center;
};
@mixin button {
  background-color: #30488F;
  border-radius: 10px;
  padding: 10px;
  vertical-align: middle;
}
