$fontFamily: 'Lato', sans-serif;
$fontSize: 14px;
$weightBold: 700;
$heigthHeader : 80px;
$primaryColor: #58402c;
$linkColor: #576BA4;
$btnColor: #30488F;
$borderBottom: 1px solid #ccc;
$breakPointSm: 767px;
